admissionController:
  replicas: 1
  container:
    extraArgs:
      backgroundServiceAccountName: "system:serviceaccount:kyverno:kyverno-background-controller"
      reportsServiceAccountName: "system:serviceaccount:kyverno:kyverno-reports-controller"
  resources:
    limits:
      memory: 384Mi
    requests:
      cpu: 100m
      memory: 128Mi
  rbac:
    clusterRole:
      extraResources:
      - apiGroups:
        - volsync.backube
        resources:
        - replicationsources
        - replicationdestinations
        verbs:
        - create
        - delete
        - get
        - list
        - patch
        - update
        - watch

backgroundController:
  replicas: 1
  resources:
    limits:
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 64Mi
  rbac:
    clusterRole:
      extraResources:
      - apiGroups:
        - volsync.backube
        resources:
        - replicationsources
        - replicationdestinations
        verbs:
        - create
        - delete
        - get
        - list
        - patch
        - update
        - watch

cleanupController:
  replicas: 1
  resources:
    limits:
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 64Mi
  rbac:
    clusterRole:
      extraResources:
      - apiGroups:
        - ""
        resources:
        - persistentvolumeclaims
        verbs:
        - get
        - list
        - watch
      - apiGroups:
        - volsync.backube
        resources:
        - replicationsources
        - replicationdestinations
        verbs:
        - get
        - list
        - watch
        - delete
      # Cleanup controller needs to delete orphaned Kyverno-generated Secrets
      - apiGroups:
        - ""
        resources:
        - secrets
        verbs:
        - get
        - list
        - watch
        - delete

reportsController:
  replicas: 1
  resources:
    limits:
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 64Mi

policyReportsCleanup:
  image:
    registry: registry.k8s.io
    repository: kubectl
    tag: 'v1.35.0'

webhooksCleanup:
  image:
    registry: registry.k8s.io
    repository: kubectl
    tag: 'v1.35.0'
