apiVersion: apps/v1
kind: Deployment
metadata:
  name: karakeep-web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: karakeep-web
  template:
    metadata:
      labels:
        app: karakeep-web
    spec:
      securityContext:
        fsGroup: 1001
        runAsUser: 1001
        runAsGroup: 1001
      containers:
        - name: karakeep
          image: ghcr.io/karakeep-app/karakeep:release
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: 3000
            initialDelaySeconds: 15
            periodSeconds: 20
          env:
            - name: MEILI_ADDR
              value: http://karakeep-meilisearch.karakeep.svc.cluster.local:7700
            - name: BROWSER_WEB_URL
              value: http://karakeep-chrome.karakeep.svc.cluster.local:9222
            - name: DATA_DIR
              value: /data
          volumeMounts:
            - mountPath: /data
              name: data
          envFrom:
            - secretRef:
                name: karakeep-secret
            - configMapRef:
                name: karakeep-configuration
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: data-pvc
