apiVersion: apps/v1
kind: Deployment
metadata:
  name: immich-machine-learning
  namespace: immich
  labels:
    app.kubernetes.io/name: immich
    app.kubernetes.io/component: machine-learning
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app.kubernetes.io/name: immich
      app.kubernetes.io/component: machine-learning
  template:
    metadata:
      labels:
        app.kubernetes.io/name: immich
        app.kubernetes.io/component: machine-learning
    spec:
      containers:
      - name: machine-learning
        image: ghcr.io/immich-app/immich-machine-learning:v2.5.5
        ports:
        - name: http
          containerPort: 3003
          protocol: TCP
        env:
        - name: REDIS_HOSTNAME
          value: "immich-valkey.immich.svc.cluster.local"
        - name: REDIS_PORT
          value: "6379"
        - name: MPLCONFIGDIR
          value: "/cache/matplotlib"
        - name: TRANSFORMERS_CACHE
          value: "/cache"
        - name: HF_XET_CACHE
          value: "/cache/huggingface-xet"
        - name: IMMICH_MEDIA_LOCATION
          value: /library
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            memory: 4Gi
        livenessProbe:
          httpGet:
            path: /ping
            port: 3003
          initialDelaySeconds: 0
          periodSeconds: 10
          timeoutSeconds: 1
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /ping
            port: 3003
          initialDelaySeconds: 0
          periodSeconds: 10
          timeoutSeconds: 1
          failureThreshold: 3
        startupProbe:
          httpGet:
            path: /ping
            port: 3003
          initialDelaySeconds: 0
          periodSeconds: 10
          timeoutSeconds: 1
          failureThreshold: 60
        volumeMounts:
        - name: cache
          mountPath: /cache
        - name: library
          mountPath: /library
      volumes:
      - name: cache
        persistentVolumeClaim:
          claimName: immich-ml-cache
      - name: library
        persistentVolumeClaim:
          claimName: library
