apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: immich
labels:
  - pairs:
      app.kubernetes.io/name: immich
      app.kubernetes.io/managed-by: argocd

resources:
  - namespace.yaml
  - externalsecret.yaml
  - library-pvc.yaml
  - ml-cache-pvc.yaml
  - deployment-server.yaml
  - deployment-machine-learning.yaml
  - deployment-valkey.yaml
  - services.yaml
